body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 62.5%;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

label, input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

div.contain {
	width: 350px;
	margin: 20px 0;
}

div.contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div.contain table td, div.contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.error {
	color: red;
}

.ui-tab-content, .ui-tabs-panel {
	overflow: hidden;
}

.fc-event, .fc-draggable-event {
	text-align: center;
	font-size: 11px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.fc-draggable-event {
	width: 135px;
	background-color: #3a87ad;
	margin-bottom: 5px;
}

.nonworkingday {
	background-color: #ff9f89;
	color: #fff;
}

.workingday {
	background-color: #afafaf;
	color: #fff;
}

.sampling {
	color: #fff;
	background-color: #00E;
}

.maintenance {
	color: #fff;
	background-color: #808080;
}

.leftc {
	float: left;
	width: 23%;
}

.rightc {
	float: right;
	width: 76%;
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

.to-trash {
	background-color: #EAEAEA;
	border-radius: 5em;
}

.inner {
	position: fixed;
	height: 1px;
	width: 1px;
	right: -50px;
	top: 50px;
}

html {
	box-sizing: border-box;
}

*, :before, :after {
	box-sizing: inherit;
}



.main {
width:1850px;
}

.month {
background-color:black;
font: bold 16px verdana;
padding: 5px;
color:white;
}

.daysofweek {
background-color:gray;
font:bold 12px verdana;
color:white;
float:left;
width:49px;
border-right:1px solid #EEEEEE;
text-align:center;
}

.days {
font-size: 12px;
font-family:verdana;
color:black;
background-color: lightyellow;
float:left;
width:49px;
border-right:1px solid #EEEEEE;
height:100px;
text-align:center;
overflow:visible;
}

.days #today{
font-weight: bold;
color: red;
}

.eventBar {
height:18px;
background-color:#069;
margin: 10px 0 0 2px;
position: absolute;
color:#fff;
text-align:left;
}